.hero-main{
    background-color: #2E2F42;
}
.hero-main h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4D5AE5;
}
.hero-button {
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
}

